*~
/.emacs.desktop
/.emacs.desktop.lock
/WorkLogTemplate.pdf
/WorkLogTemplate.tex
/WorkLog.fdb_latexmk
/WorkLog.fls
/WorkLog.pdf
/WorkLog.tex
/WorkPlanTemplate.pdf
/WorkPlanTemplate.tex
/WorkPlan.pdf
/WorkPlan.tex
/DraftDesign.zh.pdf
/DraftDesign.zh.tex
/DraftDesign.zh.lof
/DraftDesign.zh.bcf
/DraftDesign.zh.lot
/DraftDesign.zh.ist
/DraftDesign.zh.acn
/DraftDesign.zh.glsdefs
/DraftDesign.zh.glo
/DraftDesign.zh.aux
/DraftDesign.zh.glg
/DraftDesign.zh.gls
/DraftDesign.zh.log
/DraftDesign.zh.out
/DraftDesign.zh.toc
/DraftDesign.zh.run.xml
/DraftDesign.en.pdf
/DraftDesign.en.tex
/DraftDesign.en.lof
/DraftDesign.zh.bbl
/DraftDesign.zh.blg
/DraftDesign.zh.fdb_latexmk
/DraftDesign.zh.fls
/DraftDesign.zh.ilg
/DraftDesign.zh.ind
/Glossaries.aux
/aut.idx
/general.idx
