*~
/.emacs.desktop
/.emacs.desktop.lock
/WorkLogTemplate.pdf
/WorkLogTemplate.tex
/WorkLog.pdf
/WorkLog.tex
/WorkPlanTemplate.pdf
/WorkPlanTemplate.tex
/WorkPlan.pdf
/WorkPlan.tex
/DraftDesign.zh.pdf
/DraftDesign.zh.tex
/DraftDesign.zh.lof
/DraftDesign.zh.bcf
/DraftDesign.zh.lot
/DraftDesign.zh.run.xml
/DraftDesign.en.pdf
/DraftDesign.en.tex
/DraftDesign.en.lof
